@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,400&display=swap');

:root {
    --c-text: #e9eae4;
    --c-bkg: #44312B;
    --c-teal: #37A382;
    --c-orange: #EA6E1B;
    --c-green: #A5C052;
    --c-yellow: #FFB932;

    --ff-Header: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--c-bkg);
    margin: auto;
    font-family: var(--ff-Header);
}

/*psuedo element placing the image on top of the brown background*/
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../imgs/wallpaper.jpg");
    background-repeat: repeat;
    background-position: top left;
    background-size: 300px auto;
    opacity: 0.25;
    z-index: -1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* scalable SVG (Noticeable quality difference for logo use case, over png*/
header img {
    width: 40%;
    height: auto;
    min-width: 320px;
    max-width: 480px;
}


ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0 0.5rem 1rem 0.5rem;
}

ul li {
    cursor: pointer;
    padding: 10px 20px;
    width: 100px;
    border: 2px solid transparent;
    border-color: var(--c-bkg);
    font-family: var(--ff-Header);
    font-weight: 800;
    text-align: center;
}

li a {
    text-decoration: none;
    color: #1A1313;
}


nav li:nth-child(1) {
    background-color: var(--c-teal);
}

nav li:nth-child(2) {
    background-color: var(--c-orange);
}

nav li:nth-child(3) {
    background-color: var(--c-green);
}

nav li:nth-child(4) {
    background-color: var(--c-yellow);
}

ul li:hover {
    border-color: var(--c-text);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1096px;
    margin: auto;
}

.horiz {
    width: 100%;
    height: auto;
}


.horiz {
    width: 352px;
    height: 240px;
    overflow: hidden;
    padding-bottom: .5rem;
    padding-right: .5rem;
}

.horiz img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.vert {
    width: 352px;
    height: 496px;
    overflow: hidden;
    padding-bottom: .5rem;
    padding-right: .5rem;
}


.vert img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c-text);
}

footer img {
    width: 30px;
}

.map {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 1rem;
}


@media (max-width: 751px) {
    .spoon {
        width: 360px;
        height: 496px;
        overflow: hidden;
    }
}