body {
    background-color: #44312B;
    margin: 0;
}

/*psuedo element placing the image on top of the brown background*/
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../imgs/wallpaper.jpg");
    background-repeat: repeat;
    background-position: top left;
    background-size: 300px auto;
    opacity: 0.25;
    z-index: -1;
}